@tailwind base;
@tailwind components;
@tailwind utilities;

/* index.css or your main CSS file */

/* Custom scrollbar styles */
.scrollbar-thin {
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);
  }
  
  .scrollbar-thin::-webkit-scrollbar {
    width: 8px;
  }
  
  .scrollbar-thin::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb);
    border-radius: 9999px;
  }
  
  .scrollbar-thin::-webkit-scrollbar-track {
    background-color: var(--scrollbar-track);
  }
  